<div class="container container vh-100 d-flex justify-content-center align-items-center">
  <h1>Welcome back, {{name}}!</h1>
  {{#if logstatus}}
  <a href="/logout" class="btn btn-primary ml-3">Log out</a>
  {{/if}}
</div>